In [3]:
# 1. writre a program to convert specfied days into years ,weeks and days.
# take user input
# note: ingonre leap year

days = int(input ('enter the number of days'))
if days % 4 ==0:
    if days % 400 ==0:
        print('leap year')
    else:
        print('Not leap year')
Years = days // 365
Weeks = days//7
rem_days = days //365
rem_weeks = days //4

print('conversion is' ,Years,':',Weeks,':',days)

enter the number of days 366

conversion is 1 : 52 : 366

In [6]:
# 2. write a python program to input basipython salary of an employee and calculate its gross salary according to following:
# basic salary <=10000 : HRA = 20%,DA=80%
# basic salary <=20000 : HRA = 30%,DA=90%
# basic salary <=20000 : HRA = 35%,DA=95%

Basic_Salary = int(input('Enter Basic_Salary of employee:'))
if Basic_Salary <= 10000:
    HRA = (Basic_Salary*20)/100
    DA = (Basic_Salary*80)/100
    Gross_Salary = Basic_Salary + HRA + DA
    print('Gross_Salary:',Gross_Salary)
elif Basic_Salary <= 20000:
    HRA = (Basic_Salary*30)/100
    DA = (Basic_Salary*90)/100
    Gross_Salary = Basic_Salary + HRA + DA
    print('Gross_Salary:',Gross_Salary)
else:
    if Basic_Salary > 20000:
        HRA = (Basic_Salary*35)/100
        DA = (Basic_Salary*95)/100
        Gross_Salary = Basic_Salary + HRA + DA
        print('Gross_Salary:',Gross_Salary)

Enter Basic_Salary of employee: 32

Gross_Salary: 64.0

In [1]:
# 3. write a python proram to input electricity unit chrages and calculate total electricity bill according the given condition:
# for first 50 unit rs.0.50/unit
# for first 100 unit rs.0.75/unit
# for first 100 unit rs.1.25/unit
# for unit above 250 rs.1.50 /unit

units=int(input('Enter the number of units:'))
if units <= 50:
    cost = 0.50*units
    print('Cost to be paid is:',cost)
elif units >= 50 and units <= 150:
    cost = 0.75*units
    print('Cost to be paid is:',cost)
elif units >= 150 and units <=200:
    cost = 1.25*units
    print('Cost to be paid is:',cost)
else:
    if units > 250:
        cost = units*1.50
        extra_charge =(cost / 17)*100
        Total_Bill = cost+extra_charge
        print('Cost to be paid is:',Total_Bill)

Enter the number of units: 12

Cost to be paid is: 6.0

In [2]:
# 4. write a python program to print the given number pattern 
# 1
# 2 2
# 3 3 3
# 4 4 4 4
# 5 5 5 5 5



row=int(input('Enter the number of rows:'))

for i in range(row):
    for j in range(i+1): 
        print(i+1,end=' ')
    print()

Enter the number of rows: 2

1
2 2

In [5]:
# 5.write a python program to calculate product of digits of a number read value of n form user

num =int(input('Enter the number:'))
POD = 1
while num > 1:
    rem = num % 10
    POD = POD * rem
    num = num // 10
print('Product of digits is:',POD)

Enter the number: 3456

Product of digits is: 360

In [7]:
 '''Q.6. 
Create a list of elements like: x = [45,67,12,'Hello',23.45,'World'] and
perform following operations
1. Extract only string values from this list.
2. Create a new list with strings in upper case.
3. Find the addition of integer values.
4. Check that the value 56 is present in it or not.
5. Print the list in reverse order.
6. Delete the string 'Hello' from it.
7. Insert a new value of 36 at 5th position in list.
8. Count total number of elements in list now.
9. Extract the values from 2nd index to 5th index.
10. Append[34,'Pune'] to this list.
11. Delete the last element from list.
'''
x = [45,67,12,'Hello',23.45,'World']

x

[45, 67, 12, 'Hello', 23.45, 'World']

In [8]:
### 1.
x[3],x[5]

('Hello', 'World')

In [9]:
###2.

names=['Amruta','Pranali','Sara','Malti']

In [10]:
[n.upper() for n in names]

['AMRUTA', 'PRANALI', 'SARA', 'MALTI']

In [15]:
###.3 

x = [45,67,12,'Hello',23.45,'Wrold']
sum=0
for i in x:
    if isinstance(i,int):
        sum+=i
        print('Sum of intger values:',sum)

Sum of intger values: 45
Sum of intger values: 112
Sum of intger values: 124

In [16]:
###4.
56 in x

False

In [17]:
x

[45, 67, 12, 'Hello', 23.45, 'Wrold']

In [21]:
x.reverse()

In [22]:
x

['Wrold', 23.45, 'Hello', 12, 67, 45]

In [23]:
### 6.

x.remove('Hello')

In [24]:
x

['Wrold', 23.45, 12, 67, 45]

In [25]:
###7.

x.insert(5,36)

In [26]:
x

['Wrold', 23.45, 12, 67, 45, 36]

In [27]:
###8.

len(x)

6

In [28]:
###9

x[2:6]

[12, 67, 45, 36]

In [29]:
###10.

x.append([36,'Pune'])

In [30]:
x

['Wrold', 23.45, 12, 67, 45, 36, [36, 'Pune']]

In [31]:
###11.
x

['Wrold', 23.45, 12, 67, 45, 36, [36, 'Pune']]

In [32]:
x.pop()

[36, 'Pune']

In [33]:

'''Q.7
Create a tuple of elements with 5 float values in it and perform following operations.
1. Print the data in sorted manner.
2. Check to see that the element 50 is present in it.
3. Convert this tuple in set.
'''
### Create tuple of elements with 5 float values
t =(12.50,23.45,45.12,42.34,67.90)
t

(12.5, 23.45, 45.12, 42.34, 67.9)

In [36]:
###1.

t1 = list(t)
t1

[12.5, 23.45, 45.12, 42.34, 67.9]

In [37]:
t1.sort()

In [38]:
t1

[12.5, 23.45, 42.34, 45.12, 67.9]

In [39]:
###2.
50 in t1

False

In [40]:
45.12 in t1

True

In [41]:
###3 

s =set(t)

In [43]:
s

{12.5, 23.45, 42.34, 45.12, 67.9}

In [44]:
'''Q.8
Create a dictionary of elements: {'a':'apple','b','ball','c':'cat','d':'doll','K':'king'} and
perform following operations.

1. Access the data at key 'k'.
2. Add a new values 'z': 'zebra'
3. Replace the contents of 'd' as 'dog'
4. Print all the values from this dictionary.
5. Find the lenght of this dictionary.
'''

d = {'a':'apple','b':'ball','c':'cat','d':'doll','K':'king'}

In [45]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'K': 'king'}

In [49]:
###1.


d['k']

KeyError: 'k'

In [50]:
###2.

d['z'] = 'zebra'

In [51]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'K': 'king', 'z': 'zebra'}

In [53]:
#3.

d['d']='dog'

In [54]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'K': 'king', 'z': 'zebra'}

In [55]:
#4.

d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [56]:
#5.

len(d)

6

In [58]:
'''
Write a program to find the second largest element in a list.
'''

l = [19,25,8,7,23]

In [59]:
l

[19, 25, 8, 7, 23]

In [60]:
l1=sorted(l,reverse = True)
l1

[25, 23, 19, 8, 7]

In [61]:

'''Q.10
This is a list of some metallic elements.
metals = ['silver','gold',...]
Make a new list that is almost identical to the metals list:
The new contains the same items, in the same order, except that it does not contain the item 'copper'.
'''
metals = ['silver','gold','mercury','iron']

In [62]:
metals

['silver', 'gold', 'mercury', 'iron']

In [64]:
#new list

new_List = [metals for metals in metals if metals != 'copper']
print(new_List)

['silver', 'gold', 'mercury', 'iron']